fastapi
uvicorn
langchain
langchain-community
langchain-openai
openai
langchain-groq
groq
chromadb
sqlmodel
sqlalchemy
psycopg2-binary
pypdf
python-dotenv
pydantic
transformers<5.0.0
huggingface-hub<1.0.0
sentence-transformers
langchain-huggingface
python-multipart